body {
    background-color: bisque;
}

.nav {
    list-style-type: none;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

ul.nav li {
    float: left;
}

ul.nav li a{
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    
}

ul.nav a:hover {
    background-color: grey;
    color: white;

}

.active {
    background-color: antiquewhite;
}




