.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C00;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
.button:hover {
    background-color: #7a4401;
    color: white;
  }

* {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-media a {
    display: inline-block;
    margin: 0 10px;
  }