body {
    background-color: #dad7cd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
    list-style-type: none;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
        float: none;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%,-50%);
   
    }

ul.nav li {
    float: left;
}

ul.nav li a{
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    
}

ul.nav a:hover {
    background-color: grey;
    color: white;

}

.active {
    background-color: #a3b18a;
}

#container {
    overflow: hidden;  
}

button {
      appearance: none;
      background-color: #FAFBFC;
      border: 1px solid rgba(27, 31, 35, 0.15);
      border-radius: 6px;
      box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
      box-sizing: border-box;
      color: #24292E;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      padding: 6px 16px;
      position: relative;
      transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      word-wrap: break-word;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

button:hover{
  background-color: #588157;
  color: white;
  text-decoration: none;
  transition-duration: 0.1s;
}

h1 {
    text-align: center;
}
